<p>Hello {{currentUser.name}}</p>

<a class="" href="/logout">Log out</a>

<a class="" href="/my-profile/edit">Edit my profile</a>
<a class="" href="/my-profile/change-my-password">Change my password</a>


<p>My cities list:</p>

{{#if citiesArr}}

{{#each citiesArr}}


<p>{{this.location.name}} </p>
<p>{{this.location.country}}</p>
    {{!-- <form method="GET" action="/results/city/{{this.name}}+{{this.country}}" name="cityName">
        <button type="submit" class="btn btn-primary">See Details</button>
    </form>
    <form method="GET" action="/city/delete/{{this._id}}" name="city">
        <button type="submit" class="btn btn-primary">Delete of my favorites</button>
    </form> --}}

{{/each}}

{{/if}}

{{#if msg}}
  <p>{{msg}}</p>
{{/if}}

