<div class="mt-3 container profile">

<section class="first-section ">
    <div>
        <p class="my-tittle">My Smart Cities</p>
    </div>
    <div class="my-section">
        <p class="my-name"><i class="bi bi-person-fill"></i> {{currentUser.name}}</p>
        <a class="edit-link" href="/my-profile/edit"><i class="bi bi-person-lines-fill"></i> Edit my profile</a>
    </div>
</section>

<section>
{{#if msg}}
  <p class="error-msg">{{msg}}</p>
{{/if}}

    <div>
        <p class="explanation">Search for a city and add it to your profile</p>
    </div>
            <div class="group-cards row" > 

            {{#if citiesArr}}
            {{#each citiesArr}}

                <div class="main-div card col-sm-3" >
                    <div class="first-div">
                        <a class="city-link" href="/results/city/{{this.location.name}}+{{this.location.country}}">{{this.location.name}}</a>
                        <p class="hour"><i class="bi bi-clock"> </i>{{this.location.localtime}}</p>
                    </div>
                    <div class="second-div">
                        <div class="image-div">
                            <img class="status-icon" src="{{this.current.condition.icon}}" />
                        </div>
                        <div class="status-div">
                            <p class="grades">{{this.current.temp_c}}ยบ C</p> 
                            <p class="status">{{this.current.condition.text}}</p>
                        </div>
                    </div> 
                    <div class="third-div">
                       <div class="headers">
                           <p class="weat-elem">Wind</p>
                           <p class="weath-value"><i class="bi bi-wind" ></i> <span class=""> {{this.current.wind_kph}} kph</span></p>
                       </div>
                       <div class="headers">
                           <p class="weat-elem">Humidity</p>
                           <p class="weath-value"> <i class="bi bi-droplet-fill" ></i> <span class=""> {{this.current.humidity}} %</span></p>
                       </div>
                       <div class="headers">
                           <p class="weat-elem">Clouds</p>
                           <p class="weath-value"><i class="bi bi-cloud-fill"></i> <span class=""> {{this.current.cloud}} %</span></span></p>
                       </div>
                    </div>   
                    <div class="links-box">                   
                        <a class="delete-link" href="/city/delete/{{this._id}}">Delete</a>
                    </div> 
                    </div>
            {{/each}}
            {{/if}}
            </div>
        </div>
    </div>

</section>

</div>

    {{!-- <form method="GET" action="/city/delete/{{this._id}}" name="city">
        <button type="submit" class="btn btn-primary">Delete of my favorites</button>
        </form> 
 --}}


